<div class="genres-show">
  <h3><%= @genre.name %></h3>
  <hr>

  <h2>Artists:</h2>
  <ul class="artists-list">
  <% @genre.artists.each do |artist| %>
  <li class="artists-item">
    <a href="/artists/<%= artist.slug %>"><%= artist.name %></a>
  </li>
  <% end %>
  </ul>
  <hr>

  <h2>Songs:</h2>
  <ul class="songs-list">
  <% @genre.songs.each do |song| %>
  <li class="songs-item">
    <a href="/songs/<%= song.slug %>"><%= song.name %></a>
  </li>
  <% end %>
  </ul>
</div>
