<div class="song-info">
  <h3><%= @song.name %></h3>
  <p class="artist-name">
    <a href="/artists/<%= @song.artist.slug %>">- <%= @song.artist.name %></a>
  </p>
  <ul class="genres-list"> 
  <% @song.genres.each do|genre| %>
    <li class="genres-item">
      <a href="/genres/<%= genre.slug %>"><%= genre.name %></a>
    </li>
  <% end %>
  </ul>
</div>